<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="{%  url 'loaddata' %}" method="post">
        {% csrf_token %}
        <label for="switch">Choose a switch:</label>
        <select id="switch" name="switch">
            {% for switch in switches %}
                <option value="{{ switch }}">{{ switch }}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <label for="command">Choose a sinc:</label>
        <select id="sinc" name="sinc">
            <option value="sinc">sinc</option>
            <option value="assinc">assinc</option>
        </select>
        <br>
        <br>
        <button type="submit">show</button>
    </form>
</body>
</html>